html
  head
    title gigi programming language
    style.
      #hold1 {
        display:flex;
        margin:auto;
        width:75%;
        height:75%;
      }
      #gigi {
        width:50%;
        height:50%;
        margin:5%;
      }
      #side {
      width:50%;
        margin:5%;
        list-style:none;
      }
      .arial {
        font-family: Arial, Helvetica, sans-serif;
      }
      li {
        color:#57a043;
        margin:5%;
      }
      a:hover {
        background-color:#b4dbab;
      }
  body
    #hold1
      img#gigi(src="https://external-content.duckduckgo.com/iu/?u=https://tse4.mm.bing.net/th?id%3DOIP.o-x07qP2g81W1jN25EgT4gHaE7%26pid%3DApi&f=1&ipt=1eed80f5d4a616c69546b8159a50992c33b33aa8425988516a42e1cb50665af9&ipo=images&kp=1")
      ul#side
        li
          .arial Gigi
        li 
          a.arial about
        li 
          a.arial documentation
        li 
          a.arial getting started
        li
          a.arial site map
        
        
